<!DOCTYPE html>
<html>
<head>
  {% load static %}
</head>
<body>
<form id="updateLearningDate" method="post">
{% csrf_token %}
</form>
<script src= {% static "categories/canvas.js" %}></script>
<script src= {% static "categories/deck.js" %}></script>
<!-- <script src="reminder.js"></script> -->

<script>
var flash_card_dict = {}
var NOW = new Date();// Testing new Date

// Checking empty data from Backend
{% if current_card %}
  var card_obj = JSON.parse('{{ current_card | safe }}')[0];
  var card_fields = card_obj.fields;
  var card_id = card_obj.pk;
  main(card_id, card_fields);
  console.log("card_fields", card_obj);
{% else %}
  console.log("is empty");
{% endif %}

function main(card_id, card_fields){
  // var meaning_dict = JSON.parse('{{ meaning_dict | escapejs }}');
  // var meaning_dict = {{ meaning_dict | safe }};

  var deck = {
    cards:[]
  };
  var filtered_deck = {
    cards:[]
  };

  // deck.cards = createDeckWithDictionary(meaning_dict, flash_card_dict);
  // var current_card_btn = deck.cards[0]
  var current_card_btn = createCardBtnWithFields(card_id, card_fields);

  var prev_btn = createButton(document, 'prev');
  prev_btn.disabled = true;
  var next_btn = createButton(document, 'next');

  var isLearned = createCheckBoxWithLabel("isLearned", "isLearned");
  var isFiltered = createCheckBoxWithLabel("isFiltered", "isFiltered");

  var form = document.getElementById("updateLearningDate");

  // prev_btn.onclick = function() {
  //   flash_card_dict[current_card_btn.id].card.isLearned = isLearned.checked;
  //   flash_card_dict[current_card_btn.id].card.dateIsLearned = (isLearned.checked) ? NOW : null;

  //   var display_deck = getDisplayDeckWithIsFiltered(deck, filtered_deck, isFiltered.checked);
  //   var new_card_btn = getNewCardBtn(display_deck.cards, current_card_btn, prev_btn);

  //   current_card_btn = replaceWithNewCardBtn(form, current_card_btn, new_card_btn, next_btn);
  //   isLearned.checked = cardBtnIsLearned(current_card_btn);
  //   isEndDisableButton(display_deck.cards, current_card_btn, next_btn, prev_btn);
  // };

  // next_btn.onclick = function() {
  //   // TODO : 
  //   // change here
  //   flash_card_dict[current_card_btn.id].card.isLearned = isLearned.checked;
  //   flash_card_dict[current_card_btn.id].card.dateIsLearned = (isLearned.checked) ? NOW : null;

  //   var display_deck = getDisplayDeckWithIsFiltered(deck, filtered_deck, isFiltered.checked);
  //   var new_card_btn = getNewCardBtn(display_deck.cards, current_card_btn, next_btn);

  //   current_card_btn = replaceWithNewCardBtn(form, current_card_btn, new_card_btn, next_btn);
  //   // change here
  //   isLearned.checked = cardBtnIsLearned(current_card_btn);
  //   isEndDisableButton(display_deck.cards, current_card_btn, next_btn, prev_btn);
  // };

  // isFiltered.onclick = function() {
  //   flash_card_dict[current_card_btn.id].card.isLearned = isLearned.checked; 
  //   flash_card_dict[current_card_btn.id].card.dateIsLearned = (isLearned.checked) ? NOW : null;

  //   var display_deck = getDisplayDeckWithIsFiltered(deck, filtered_deck, isFiltered.checked);
  //   new_card_btn = display_deck.cards[0];

  //   current_card_btn = replaceWithNewCardBtn(form, current_card_btn, new_card_btn, next_btn);
  //   isLearned.checked = cardBtnIsLearned(current_card_btn);
  //   isEndDisableButton(display_deck.cards, current_card_btn, next_btn, prev_btn);
  // }

  
  document.write("<br>");
  var isLearnedLabel = createLabelForCheckBox("isLearned");
  document.appendChild(isLearnedLabel);
  document.appendChild(isLearned);

  document.write("<br>");
  var isFilteredLabel = createLabelForCheckBox("isFiltered");
  document.appendChild(isFilteredLabel);
  form.appendChild(isFiltered);

  // document.write("<br>");
  // document.write("<hr>");
  // document.write("<br>");

  // var reminder = createButton(document, 'Show Reminder Page');
  // document.body.appendChild(reminder);
  // reminder.onclick = function() {
  //   window.localStorage.setItem("flash_card_dict", JSON.stringify(flash_card_dict)); // Saving
  //   window.location = './reminder.html?category='+selected_category;
  // }


}
</script> 
 <!-- url 'categories.updateLearningDate' pk=my_pk -->


</body>
</html>

