{% extends 'categories/base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href={% static "categories/css/reminder.css" %}>

{% include "categories/render_reminder.html" %}
<script type="text/javascript">
	{% if not remind_card_dict == '{}' and not meaning_dict == '{}' %}
		var card_dict = {{ remind_card_dict | safe }};
		var category_id = {{category_id}};
		console.log("remind_card_dict", card_dict);

		render_reminder();
	{% else %}
		console.log("isempty");
		window.location.replace("{% url 'categories:detail' category_id %}");
	{% endif %}
</script>
{% endblock %}
