<script type="text/javascript">
var deck;
var filtered_deck;
var current_card_btn;
var prev_btn;
var next_btn;
var isLearned;
var isFiltered;

function btnClick(clicked_btn) {
    flash_card_dict[current_card_btn.id].card.isLearned = isLearned.checked;
    flash_card_dict[current_card_btn.id].card.dateIsLearned = (isLearned.checked) ? NOW : null;

    var display_deck = getDisplayDeckWithIsFiltered(deck, filtered_deck, isFiltered.checked);
    var new_card_btn = getNewCardBtn(display_deck.cards, current_card_btn, clicked_btn);

    current_card_btn = replaceWithNewCardBtn(current_card_btn, new_card_btn, next_btn);
    isLearned.checked = cardBtnIsLearned(current_card_btn);
    isEndDisableButton(display_deck.cards, current_card_btn, next_btn, prev_btn);
}

function isFilteredToggle() {
    flash_card_dict[current_card_btn.id].card.isLearned = isLearned.checked; 
    flash_card_dict[current_card_btn.id].card.dateIsLearned = (isLearned.checked) ? NOW : null;

    var display_deck = getDisplayDeckWithIsFiltered(deck, filtered_deck, isFiltered.checked);
    new_card_btn = display_deck.cards[0];

    current_card_btn = replaceWithNewCardBtn(current_card_btn, new_card_btn, next_btn);
    isLearned.checked = cardBtnIsLearned(current_card_btn);
    isEndDisableButton(display_deck.cards, current_card_btn, next_btn, prev_btn);
}

function isLearnedToggle(check_box) {
    console.log(check_box.checked);
    console.log(current_card_btn.id);
    var isLearned = check_box.checked;
    var front_side = current_card_btn.id;
    $.ajax({
      url: "{% url 'categories:update_isLearnedCard' %}",
      data: {
        'front_side' : front_side,
        'isLearned' : isLearned
      },
      dataType: 'json',
      success: function(data) {
        console.log(data.name, " isLearned: ", data.val);
        console.log("date: ", data.dateIsLearned);
      }
    });
}

function render_detail(card_dict, meaning_dict){
  console.log("meaning_dict",meaning_dict);

  deck = {
    cards:[]
  };
  filtered_deck = {
    cards:[]
  };

  deck.cards = createDeckWithDictionary(meaning_dict, flash_card_dict);
  prev_btn = createButton(document, 'prev');
  next_btn = createButton(document, 'next');
  isLearned = createCheckBoxWithLabel("isLearned", "isLearned");
  isFiltered = createCheckBoxWithLabel("isFiltered", "isFiltered");

  current_card_btn = deck.cards[0]
  prev_btn.disabled = true;
  isLearned.checked = flash_card_dict[current_card_btn.id].card.isLearned;

  prev_btn.onclick = function() {
    btnClick(this);
  }
  next_btn.onclick = function() {
    btnClick(this);
  }
  isLearned.onclick = function() {
    isLearnedToggle(this);
  } 
  isFiltered.onclick = isFilteredToggle;

  var isLearnedLabel = createLabelForCheckBox("isLearned");
  var isFilteredLabel = createLabelForCheckBox("isFiltered");

  document.body.appendChild(prev_btn);
  document.body.appendChild(current_card_btn);
  document.body.appendChild(next_btn);
  document.write("<br>");
  document.body.appendChild(isLearnedLabel);
  document.body.appendChild(isLearned);
  document.write("<br>");
  document.body.appendChild(isFilteredLabel);
  document.body.appendChild(isFiltered);
}
</script>